<?xml version="1.0"?>
<robot name="sock" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="sock">
    <collision>
      <!-- POSE 1 -->
      <origin xyz="11.0358938 -8.6 5.1" rpy="1.57 0 -1.57" />
      <!-- POSE 2 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="0 0 1.57" /> -->
      <!-- POSE 3 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="-1.57 0 0" /> -->
      <!-- POSE 4 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="0.2 0.2 1.57" /> -->
      <geometry>
        <mesh filename="package://isaac_description/meshes/sock.dae"/>
      </geometry>
      <surface>
        <friction>
          <ode>
           <mu>0.8</mu>
           <mu2>0.8</mu2>
          </ode>
        </friction>
        <contact>
          <ode>
            <soft_cfm>0.01</soft_cfm>
            <soft_erp>0.2</soft_erp>
          </ode>
        </contact>
      </surface>
    </collision>

    <visual>
      <!-- POSE 1 -->
      <origin xyz="11.0358938 -8.6 5.1" rpy="1.57 0 -1.57" />
      <!-- POSE 2 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="0 0 1.57" /> -->
      <!-- POSE 3 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="-1.57 0 0" /> -->
      <!-- POSE 4 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="0.2 0.2 1.57" /> -->
      <geometry>
        <mesh filename="package://isaac_description/meshes/sock.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="0.05" />
      <!-- POSE 1 -->
      <origin xyz="11.0358938 -8.6 5.1" rpy="1.57 0 -1.57" />
      <!-- POSE 2 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="0 0 1.57" /> -->
      <!-- POSE 3 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="-1.57 0 0" /> -->
      <!-- POSE 4 -->
      <!-- <origin xyz="11.0358938 -8.6 5.1" rpy="0.2 0.2 1.57" /> -->
      <inertia ixx="0.00004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004" />
    </inertial>
  </link>

  
  <gazebo>
    <plugin name="truth_ros" filename="libgazebo_model_plugin_truth.so">
      <rate>62.5</rate>
      <parent>world</parent>
      <child>sock</child>
      <tf>true</tf>
      <pose>false</pose>
      <twist>false</twist>
      <static>false</static>
    </plugin>
    <material>Gazebo/Blue</material>
    <mu>0.8</mu>
    <mu2>0.8</mu2>
    <minDepth>0.001</minDepth> 
    <kp>1000.0</kp>  
    <kd>100.0</kd>   
  </gazebo>
</robot>
